# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad

# SwiftPM
/.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# Firebase / Secrets
GoogleService-Info.plist